<!DOCTYPE html>
<html>
<head>
  <title>Admin Password</title>
  <link rel="stylesheet" href="/stylesheets/admin-password.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <section class="left-section">
      <header class="nav-container">
        <h1>Laboratory Resource Scheduler</h1>
        <ul>
          <li><a href="/"><i class="bi bi-house-fill" style="font-size: 25px;"></i></a></li>
        </ul>
      </header>

  <main>
    <h2>Admin Access Required</h2>
    <form id="adminForm" action="/admin-password/*" method="POST">
      <label for="adminPassword">Enter Admin Password :</label>
      <input type="password" name="adminPassword" id="adminPassword" required />
      <button type="submit">Continue</button>
    </form>

    <footer>
      &copy; 2025 Laboratory Resource Scheduler
    </footer>
  </section>
</div>

    <% if (typeof alert !== 'undefined') { %>
      <p style="color: red;"><%= alert %></p>
    <% } %>
  </main>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const form = document.querySelector('form');
      if (form) {
        form.addEventListener('submit', () => {
          console.log('Form is being submitted!');
        });
      } else {
        console.log('Form not found in DOM.');
      }
    });
  </script>
  
</body>
</html>
