<!DOCTYPE html>
<head>
    <title>Log In</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
    </head>
<body>
    <section class="section1">
        <h1>Welcome to website</h1>
    </section>

    <section class="section2">
        <div class="login-container">

            <header>
                <h1>Laboratory Resource Scheduler</h1>
                    <nav>
                        <ul>
                            <li><a href="/">Home</a></li>
                        </ul>
                    </nav>
            </header>
            
            <h2>Sign In to Your Account</h2>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" placeholder="Enter your Email" required>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" id="password" placeholder="Enter your Password" required>
            </div>

            <button type="submit">Log In</button>
            
            <div class="forgot-password">
                <a href="#">Forgot Password?</a>
            </div>

            <div class="submit-container">
                <a href="/register">REGISTER</a>
            </div>
        </div>
    </section>
</body>
</html>