<!DOCTYPE html>
<head>
    <title>Log In</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<body>
    <section class="section1">
        <h1>LABORATORY RESOURCE SCHEDULER</h1>
        <p>Effortlessly manage and book laboratory resources with ease.</p>

        <section class="sub-section">

            <div class="info-container" style="background-color: #6939a0; color: white; border-radius: 20px;">
                <h3 class="head" style="font-family: 'Poppins', sans-serif;">About Us</h2>
                <div class="hidden-text">
                    <h2>About Us</h2>
                    <p>Our Laboratory Resource Scheduler helps students, teachers, and researchers efficiently book and manage lab schedules, ensuring smooth operations.</p>
                </div>
            </div>
        
            <div class="info-container" style="background-color: #6939a0; color: white; border-radius: 20px;">
                <h3 class="head" style="font-family: 'Poppins', sans-serif;">Contact Us</h2>
                <div class="hidden-text">
                    <h2>Contact Us</h2>
                    <p>📍 Location: City of Malabon University</p>
                    <p>📧 Email: support@labresourcescheduler.com</p>
                    <p>📞 Phone: +123 456 7890</p>
                </div>
            </div>
        </section>
    </section>
    
    <section class="section2">
        <div class="login-container">
            <h2>Sign In to Your Account</h2>
            <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" placeholder="Enter your Email" required>
            </div>

            <div class="form-group">
            <label for="password">Password</label>
            <input type="text" id="password" placeholder="Enter your Password" required>
            </div>

            <button type="button" onclick="redirectToDashboard()">Log In</button>
            
            <div class="forgot-password">
            <a href="#">Reset Password</a>
            </div>
            <div class="submit-container"></div>
            <a href="/register" id="register-link">Don't have an account yet?</a>
            </div>

            <script>

            function redirectToDashboard() {
                window.location.href = '/lab';
            }

            </script>
        </div>
    </section>
</body>
</html>