<!DOCTYPE html>
<head>
    <title>Log In</title>
    <link rel="stylesheet" href="#">
    </head>
<body>
    <section>
        <header>
            <div class="nav-container">
                <h1>Laboratory Resource Scheduler</h1>
                <nav>
                    <ul>
                        <li><a href= "/login">Home</a></li>
                        <li><a href= "/lab">Lab</a></li>
                    </ul>
                </nav>
        