body {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.left-section {
    height: 100%;
    width: 40%;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-section {
    height: 100%;
    width: 60%;
    background-color: white;
}
